@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
html {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    margin: 0;
    box-sizing: border-box;
    color: #1e3056;
    display: flex;
    display: -webkit-flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-direction: column;
    background: #f1f7ff;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.row.btn-holder {
    margin: 0;
}

.item {
    flex: 1 1 100%;
}

.item h1 {
    font-size: 45px;
}

.column {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
}

.auto {
    flex: auto;
}

/***** nav-bar styling ****/

nav {
    position: relative;
    height: 50px;
}

.navbar {
    padding: 10px 40px;
    background: #f1f7ff!important;
}

nav .headernav .nav-icon {
    display: none;
    color: #38d39e;
    font-size: 20px;
}

.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

img {
    max-width: 100%;
    height: auto;
}

a.nav-item {
    padding: 5px 15px
}

a.nav-item:hover {
    border-bottom: 2px solid #1e3056;
    width: 80px;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo-text {
    position: absolute;
    width: 200px;
}

.img-logo {
    width: 200px;
}

.pos-rel {
    position: relative;
}

.slider {
    background: #f1f7ff;
    height: 100vh;
}

.shadow-1 {
    box-shadow: 0 2px 15px 1px rgba(0, 0, 0, .12);
}

h1, h2, h3, h4, h5, h6, a.logo-text, a.nav-item, input[type=submit], button.search-button, footer, .primary-btn, .btn-post {
    font-family: 'Poppins', sans-serif;
}

.form-content, .wrapper, .list-group, .txn-list, .aside-1, .aside-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.form-content {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
}

form label {
    margin-bottom: 1.2em;
    line-height: 30px;
}

form button {
    height: 45px;
}

input {
    color: #384047;
    background-color: #f9fbfc;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border: 1px solid #dddddd;
    padding: 0 1rem;
    height: 50px;
    margin-bottom: 1.2rem;
    font-size: 0.9rem;
    width: 100%;
    outline: none;
}

input[type=submit] {
    text-align: center;
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #38d39e;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 0.8rem;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
}

input[type=submit]:hover {
    background: linear-gradient(to right, #507bf5 0, #04c3e1 100%);
}

input#search {
    padding: 10px;
    outline: none;
    height: 40px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

input:focus, select:focus {
    border-color: #1e3056;
}

select.option:first-of-type {
    display: none;
}

a[type=button], button {
    padding: 10px;
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, .2);
    cursor: pointer;
}

.row.btn-holder a {
    width: 130px;
}

.app-btn {
    width: 200px!important;
}

.primary-btn {
    color: #fff;
    background: linear-gradient(to right, #507bf5 0, #04c3e1 100%);
}

.secondary-btn {
    background: transparent;
    color: #1e3056;
    border: 1px solid #1e3056;
}

.pending {
    color: #fccc63;
}

.declined {
    color: #ff0000;
}

.approved {
    color: #32c079;
}

.width-100 {
    width: 100%;
}

.width-1-3 {
    width: 33.33%;
}

.width-1-2 {
    width: 50%;
}

button.search-button {
    width: 86px;
}

button.search-button:focus, button.search-button:hover, .primary-btn:hover, .primary-btn:focus, .btn-post:focus, .btn-post:hover {
    background: transparent;
    color: #1e3056;
    border: 1px solid #1e3056;
}

.btn-post {
    width: 200px;
    float: right;
}

.form-header {
    border-bottom: 2px solid #1e3056;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.text-center {
    text-align: center
}

hr {
    border: 1px dashed #ddd;
    margin: 5px 0 20px;
}

.forgot {
    float: right;
    font-size: .8rem;
    margin-bottom: 10px;
}

.material-icons {
    vertical-align: middle;
    letter-spacing: 13px;
    padding-bottom: 2px;
}

span.naira {
    padding-right: 9px;
}

a {
    text-decoration: none;
    color: #1e3056;
}

a:hover {
    color: #1e3056;
}

.align-right, .float-r {
    float: right
}

.form-select {
    border: 1px solid #ddd;
    width: 100%;
    background-color: #f9fbfc;
    padding: 0 1rem;
    height: 50px;
    font-size: 0.9rem;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
}

select {
    border-radius: 0;
    -webkit-appearance: none;
}

.mr-1h {
    margin-right: 1.5rem
}

.ml-1h {
    margin-left: 1.5rem
}

.m-40 {
    margin: 40px;
}

.mx-auto {
    margin: 0 auto;
}

.mb-2h {
    margin-bottom: 2.5rem;
}

.m-0 {
    margin: 0;
}

.mt-0 {
    margin-top: 0;
}

.my-1h, .m-1h {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.mx-1h, .m-1h {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.my-1, .m-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mx-1, .m-1 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.py-h {
    padding: 0.5rem 0;
}

.tx-c {
    text-align: center
}

.pl-2h {
    padding-left: 2.5rem;
}

.pl-3h {
    padding-left: 3.5rem;
}

.pl-qt {
    padding-left: 3.75rem;
}

.p-2h {
    padding: 2.5rem;
}

.p-1h {
    padding: 1.5rem;
}

.d-flx {
    display: flex;
}

.align-items-center {
    align-items: center!important;
}

.bg-white {
    background: #ffffff !important;
}

.content-centered {
    min-height: calc(100vh - 82px);
    align-items: center;
}

.sidebar-canvas {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 1001;
    width: 270px;
    max-width: 100%;
    background: #333;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    -ms-scroll-chaining: none;
}

@media screen and (max-width: 600px) {
    #sidebar{
        display: none;
        width:auto !important;
    }
    #rightSideWrapper .ContentBox {
        margin: auto ;
        width: 100%;
        max-width: 100%;
        height: 100%;
        background: white;
        overflow: scroll;
    }
    .sidebarCanvasMenu{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        -webkit-transition: -webkit-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
        }
    .pl-qt {
        padding-left: 1.75rem;
    }
    .row {
        flex-direction: column;
    }
    .row .btn-holder {
        flex-direction: row;
        justify-content: center;
    }
    .row.m-40 {
        margin: 0px 5px 0px;
    }
    .form-content {
        padding: 1.5rem;
    }
    .hero.item {
        text-align: center;
    }
    .headernav .align-right {
        display: none;
    }
    .headernav a.nav-icon {
        float: right;
        display: block;
    }
    .headernav.fluid {
        position: relative;
    }
    .headernav.fluid .nav-icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .headernav.fluid .align-right {
        float: none;
        display: block;
        text-align: left;
    }
    .align-right {
        padding: 25px 0px;
        padding: 15px 0px;
        margin: 17px -15px;
        background: white;
    }
    a.nav-item {
        display: flex;
    }
    .item h1 {
        font-size: 35px;
        line-height: 40px;
    }
    h1 {
        font-size: 35px;
    }
}

.wrapper {
    height: 100vh;
    background-color: #f4f4f4;
}

#sidebar {
    height: 100%;
    width: 22%;
    margin: 0px;
    background: #ffffff;
    box-shadow: 0 0 9px rgba(0,0,0,0.1);

}

#rightSideWrapper {
    width: 100%;
}

header {
    width: 100%;
    height: 70px;
    background: #ffffff;
    /* box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, .12); */
}

.card {
    background: #fff;
    color: #1e3056;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    padding: 20px;
}

.ContentBox {
    margin: 80px auto;
    width: 80%;
    max-width: 80%;
    height: calc(100vh - 230px);
    background: white;
    overflow: scroll;
}

main {
    order: 1;
    flex: 1 1 100%;
}

.hero-section {
    height: 70vh;
}

.hero-image {
    width: 600px;
}

h1 {
    font-weight: 400;
    color: #1e3056;
    line-height: 55px;
    margin: 0;
    padding: 0;
}

#sidebar .img-holder {
    padding: 15px 20px;
    border-bottom: 2px solid #1e3056;
    width: 100%;
}

#sidebar .img-logo {
    margin: 0 auto;
    display: flex;
}

.sidenav-item {
    padding: 15px 20px;
}

li.sidenav-item.active {
    background: #f1f7ff;
    color: #1e3056;
    font-weight: bold;
    outline: 0;
}

li.sidenav-item:hover {
    background: #f2f2f2;
}

.placeholder {
    margin-bottom: 20px;
    height: 250px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 30px 30px;
    background: transparent;
    border: 1px dashed #e5e5e5
}

@media all and (min-width: 800px) {
    h1 {
        font-size: 45px;
    }
    .item h1, .item p {
        width: 600px
    }
    .item.sub-item.mr-5 {
        margin-right: 5px;
    }
    .item.sub-item.ml-5 {
        margin-left: 5px;
    }
    .form-content {
        max-width: 35rem;
    }
}

.footer {
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.txn-list {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #fcfcfc;
}

.txn-list.activity {
    min-height: unset !important;
}

.txn-list:hover {
    color: #333333;
    background-color: #f2f2f2;
}

.txn-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px;
    min-height: 100px;
    font-size: 14px;
}

.arrange {
    display: table;
    table-layout: fixed;
    margin: 0;
    min-width: 100%;
    padding: 0;
    table-layout: auto;
}

.table-row {
    display: table-cell;
}

.profile-stat.table-row {
    padding: 16px;
}

.profile {
    text-align: center;
    padding: 0 16px;
}

.profile-stat {
    box-sizing: border-box;
    line-height: 1;
    overflow: hidden;
}

.textarea {
    outline: none;
    width: 100%;
    padding: .375rem .75rem;
    min-height: 95px;
    line-height: 10px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: .25rem;
    margin-bottom: 14px;
}

.profile-label {
    font-size: 12px;
    margin: 0;
    line-height: 1.25rem;
    overflow: hidden;
}

p.display-name {
    margin: .4rem
}

.profile-stat {
    font-size: 18px;
    font-weight: bold;
}

.profile-link {
    cursor: pointer;
}

.inliner {
    display: inline-flex
}

.avatar {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden
}

.avatar-image {
    width: 100%;
    max-width: 100%;
}

.social-row {
    vertical-align: baseline;
    margin: 5px 0 0;
}

.question-text {
    font-size: 1.25rem
}

.hide {
    display: none;
}

.tab-item {
    display: none;
    padding: 15px 0px;
    border-top: none;
}

.tab .tablinks {
    padding: 10px;
}

.tab .tablinks.active {
    border-bottom: 2px solid #1e3056;
}

.tab {
    padding: 10px 0;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

form label .question {
    text-align: left
}